.content {
    margin: 10px;

    h1 {
        color: white;
    }
}

.myRank {
    display: flex;
    flex-direction: column;
}

.menu {
    button {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;

    .portrait {
        width: 60px;
        height: 60px;

        margin-right: 10px;

        display: block;
        position: relative;
        text-align: center;
        overflow: hidden;

        border: 2px solid #ba1d36;
        background-color: #eee;
        border-radius: 50%;

        .avatar {
            max-height: 100%;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .content {
        margin-left: 20%;
        margin-right: 20%;
    }
}
